<form
  [formGroup]="moduleForm"
  (ngSubmit)="onSubmit()"
  class="position-relative"
>
  <!-- Module Name Input -->

  <div class="position-absolute" style="right: 10px; top: 5px">
    <i class="fa-solid fa-x" style="cursor: pointer" matDialogClose=""></i>
  </div>
  <mat-tab-group class="p-3" [(selectedIndex)]="selectedTabIndex">
    <mat-tab label="Basic Data">
      <div class="d-flex justify-content-between">
        <div class="mb-3">
          <label for="moduleName" class="form-label">Module Name</label>
          <input
            type="text"
            class="form-control"
            id="moduleName"
            formControlName="moduleName"
            required
          />
          <div
            *ngIf="
              moduleForm.get('moduleName')?.invalid &&
              moduleForm.get('moduleName')?.touched
            "
            class="text-danger"
          >
            Module Name is required.
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="mb-3" style="flex: 1">
          <label for="fromDbId" class="form-label">From Db Id</label>
          <select
            (change)="OnDbFromChange($event)"
            class="form-control"
            id="fromDbId"
            formControlName="fromDbId"
            required
          >
            <option value="" disabled selected>Select Database</option>
            <option *ngFor="let db of DataBases" [value]="db.id">
              {{ db.name }}
            </option>
          </select>
        </div>
        <div class="mb-3" style="flex: 1; margin-right: 10px">
          <label for="toDbId" class="form-label">To Db Id</label>
          <select
            class="form-control"
            id="toDbId"
            formControlName="toDbId"
            (change)="OnDbToChange($event)"
            required
          >
            <option value="" disabled selected>Select Database</option>
            <option *ngFor="let db of DataBases" [value]="db.id">
              {{ db.name }}
            </option>
          </select>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Dbs Information">
      <div class="d-flex myCon">
        <div style="width: 45%" class="from">
          <div class="mb-3">
            <label for="tableFromName" class="form-label"
              >Table From Name</label
            >
            <select
              class="form-control"
              id="tableFromName"
              formControlName="tableFromName"
              name="tableFromName"
              (change)="OnTableFromChange($event)"
              required
            >
              <option value="" disabled selected>Select Table</option>
              <option *ngFor="let table of Fromtables" [value]="table">
                {{ table }}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label for="fromPrimaryKeyName" class="form-label"
              >Table From Primary</label
            >
            <select
              class="form-control"
              id="fromPrimaryKeyName"
              formControlName="fromPrimaryKeyName"
              required
            >
              <option value="" disabled selected>Select Column</option>
              <option *ngFor="let column of ColumnsFrom" [value]="column">
                {{ column }}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="cloudIdName" class="form-label">CloudId/LocalId</label>
            <select
              class="form-control"
              id="cloudIdName"
              formControlName="cloudIdName"
              required
            >
              <option value="" disabled selected>Select Column</option>
              <option *ngFor="let column of ColumnsFrom" [value]="column">
                {{ column }}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="fromInsertFlagName" class="form-label"
              >Table From InsertFlag</label
            >
            <select
              class="form-control"
              id="fromInsertFlagName"
              formControlName="fromInsertFlagName"
              required
            >
              <option value="" disabled selected>Select Column</option>
              <option *ngFor="let column of ColumnsFrom" [value]="column">
                {{ column }}
              </option>
            </select>
          </div>
          <!-- From Update Flag Name Input -->
          <div class="mb-3">
            <label for="fromUpdateFlagName" class="form-label"
              >Table From UpdateFlag</label
            >

            <select
              class="form-control"
              id="fromUpdateFlagName"
              formControlName="fromUpdateFlagName"
              required
            >
              <option value="" disabled selected>Select Column</option>
              <option *ngFor="let column of ColumnsFrom" [value]="column">
                {{ column }}
              </option>
            </select>
          </div>
        </div>
        <div style="width: 45%" class="from">
          <div class="mb-3">
            <label for="tableToName" class="form-label">Table To Name</label>
            <select
              class="form-control"
              id="tableToName"
              formControlName="tableToName"
              name="tableToName"
              required
              (change)="OnTableChange($event)"
            >
              <option value="" disabled selected>Select Table</option>
              <option *ngFor="let table of Totables" [value]="table">
                {{ table }}
              </option>
            </select>
          </div>

          <!-- To Primary Key Name Input -->
          <div class="mb-3">
            <label for="toPrimaryKeyName" class="form-label"
              >Table To Primary</label
            >
            <select
              class="form-control"
              id="toPrimaryKeyName"
              formControlName="toPrimaryKeyName"
              required
            >
              <option value="" disabled selected>Select Column</option>
              <option *ngFor="let column of ColumnsTo" value="{{ column }}">
                {{ column }}
              </option>
            </select>
          </div>

          <!-- From Primary Key Name Input -->

          <!-- Local Id Name Input -->
          <div class="mb-3">
            <label for="localIdName" class="form-label">LocalId/CloudId</label>
            <select
              class="form-control"
              id="localIdName"
              formControlName="localIdName"
              required
            >
              <option value="" disabled selected>Select Column</option>
              <option *ngFor="let column of ColumnsTo" value="{{ column }}">
                {{ column }}
              </option>
            </select>
          </div>

          <!-- Cloud Id Name Input -->

          <!-- Sync Type Input -->

          <!-- To Insert Flag Name Input -->
          <div class="mb-3">
            <label for="toInsertFlagName" class="form-label"
              >Table To InsertFlag</label
            >
            <select
              class="form-control"
              id="toInsertFlagName"
              formControlName="toInsertFlagName"
              required
            >
              <option value="" disabled selected>Select Column</option>
              <option *ngFor="let column of ColumnsTo" value="{{ column }}">
                {{ column }}
              </option>
            </select>
          </div>

          <!-- To Update Flag Name Input -->
          <div class="mb-3">
            <label for="toUpdateFlagName" class="form-label"
              >table To UpdateFlag
            </label>

            <select
              class="form-control"
              id="toUpdateFlagName"
              formControlName="toUpdateFlagName"
              required
            >
              <option value="" disabled selected>Select Column</option>
              <option *ngFor="let column of ColumnsTo" value="{{ column }}">
                {{ column }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Column Mapping">
      <div class="container20">
        <h2>Column Mapping Configuration</h2>

        <div class="mapping-rows" formArrayName="Columns">
          <div class="mapping-row header text-center">
            <div>From Column</div>
            <div>To Column</div>
            <div>isRef</div>
            <div>Reference</div>
            <div>Actions</div>
          </div>

          <div
            *ngFor="
              let Referance of moduleForm.get('Columns')['controls'];
              let i = index
            "
            [formGroupName]="i"
            class="mapping-row"
          >
            <select formControlName="ColumnFrom">
              <option value="">Select Column</option>
              <option *ngFor="let column of ColumnsFrom" [value]="column">
                {{ column }}
              </option>
            </select>

            <select formControlName="ColumnTo">
              <option value="">Select Column</option>
              <option *ngFor="let column of ColumnsTo" [value]="column">
                {{ column }}
              </option>
            </select>

            <div class="checkbox-wrapper">
              <input type="checkbox" formControlName="IsChecked" />
            </div>

            <select formControlName="Referance">
              <option value="">Select Table</option>
              <option *ngFor="let table of Totables" [value]="table">
                {{ table }}
              </option>
            </select>

            <button type="button" class="remove-btn" (click)="removeColumn(i)">
              Remove
            </button>
          </div>
        </div>

        <div class="actions">
          <button type="button" class="add-btn" (click)="AddColumn()">
            Add Mapping
          </button>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="References">
      <div class="container">
        <h2>Column Referance Configuration</h2>

        <div class="mapping-rows" formArrayName="References">
          <div class="mapping-row header d-flex justify-content-around">
            <div>From Column</div>
            <div>LocalId/CloudId</div>
            <div>Reference</div>
            <div>Actions</div>
          </div>

          <div
            *ngFor="
              let Referance of moduleForm.get('References')['controls'];
              let i = index
            "
            [formGroupName]="i"
            class="mapping-row d-flex justify-content-between"
          >
            <select
              formControlName="TableFromName"
              id="Sourceherer"
              required
              (change)="OnRefranceTableChange($event, LocalIds, PrimaryIds)"
            >
              <option value="">Select Column</option>
              <option *ngFor="let table of Totables" [value]="table">
                {{ table }}
              </option>
            </select>

            <select
              id="LocalName"
              formControlName="LocalName"
              required
              #LocalIds
            ></select>

            <select
              id="PrimaryName"
              formControlName="PrimaryName"
              required
              #PrimaryIds
            ></select>

            <button type="button" class="remove-btn">Remove</button>
          </div>
        </div>

        <div class="actions">
          <button type="button" class="add-btn" (click)="AddReferance()">
            Add Referance
          </button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="d-flex justify-content-between">
    <button
      mat-raised-button
      color="warn"
      (click)="Prevtab()"
      *ngIf="selectedTabIndex >= 1"
    >
      previous
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="nextTab()"
      *ngIf="selectedTabIndex != 3"
    >
      Next
    </button>
    <button
      (click)="AddModule()"
      mat-raised-button
      color="primary"
      *ngIf="selectedTabIndex == 3 && !data"
    >
      Add Module
    </button>
    <button
      (click)="SaveModule()"
      mat-raised-button
      color="primary"
      *ngIf="selectedTabIndex == 3 && data"
    >
      Save Module
    </button>
  </div>
</form>
